@import '../../variables/variable';
@import '../../mixin/mixins';

#cloth {
    .cloth_head {

        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        h3 {
            @include fs($cl1, 25px, 500, $ff1);
        }

        a {
            @include fs($cl1, 16px, 500, $ff1);
            margin-bottom: 20px;

            &:hover {
                color: $bg_c2;
            }
        }
    }

    .cloth_h_img {
        margin-top: 20px;
        position: relative;

        img {
            padding: 0;

        }

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;

            .cloth_h_text {
                margin: 45px 0 0 45px;

                p {
                    @include fs($cl1, 16px, 400, $ff1);
                }

                h2 {
                    @include fs($cl1, 30px, 700, $ff1);
                    text-transform: uppercase;
                }

                h4 {
                    @include fs($cl1, 30px, 400, $ff1);
                }

                a {
                    padding: 10px 20px;
                    @include fs($cl1, 16px, 500, $ff1);
                    text-transform: uppercase;
                    border: 1px solid $cl1;
                    margin-top: 30px;
                    transition: all linear .3s;

                    &:hover {
                        color: #fff;
                        background: $cl1;
                    }

                }
            }
        }
    }

    .cloth_main {
        margin-top: 20px;

        ul {
            li {
                width: 23.98%;
                margin-right: 10px;
                margin-bottom: 30px;

                .cloth_img {
                    position: relative;
                    padding: 0;

                    a {
                        display: block;

                        .last {
                            display: none;
                        }
                    }

                    .overlay {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.1);
                        cursor: pointer;

                        ul {
                            position: absolute;
                            right: 10px;
                            top: 20px;
                            display: none;
                            z-index: 999;

                            li {
                                width: 40px;
                                height: 40px;
                                background: #fff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #eee;
                                border-radius: 50%;
                                margin: 5px 0;

                                i {
                                    color: #999;
                                }

                                &:hover {
                                    background: $bg_c2;
                                    border-color: $bg_c2;

                                    i {
                                        color: #fff;
                                    }
                                }



                            }

                        }
                    }

                    &:hover {
                        .last {
                            display: block;
                        }

                        .fast {
                            display: none;
                        }

                        .overlay {
                            ul {
                                display: block;
                            }

                        }
                    }
                }

                .cloth_text {
                    text-align: center;

                    h4 {
                        a {
                            @include fs($cl1, 16px, 500, $ff1);
                        }
                    }

                    p {
                        a {
                            @include fs(#999, 14px, 400, $ff1);
                        }
                    }

                    .price {

                        h5{
                            margin: 0 5px;
                            @include fs($cl1, 18px, 500, $ff1);
                            line-height: 27px
                        }
                        .old {
                            @include fs(#999, 18px, 400, $ff1);
                        }
                        
                    }

                    .reating_text {
                        ul {
                            li {
                                margin: 0;

                                i {
                                    color: $cl3;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}